
* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
}

.recrutement     {
    background-position: 50% 37%;width:100% height=100%;height: 300px; color: black;
}
i {
    color: #777777;
}
h2 {
    color: #f0b710;
}

.url {
    background-image: url("img/computer.jpg");
    text-align: center;
    min-height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

